## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [33]:
#In the cell below, create a list named sample_list_1 with 80 random values.
#Requirements:
##Each value is an integer falling between 0 and 100.
##-----------------Each value in the list is unique. ----------------- How?
##Print sample_list_1 to review its values

sample_list_1 = []

n = 100  # the size of the list
min_value = 0  # the minimum value of the numbers in the list
max_value = 100  # the maximum value of the numbers in the list

random_list_1 = random.sample(range(min_value, max_value+1), n)

print(random_list_1)

[56, 98, 65, 63, 11, 5, 48, 41, 80, 40, 47, 88, 15, 64, 46, 50, 9, 7, 85, 84, 74, 20, 44, 23, 93, 87, 69, 59, 81, 42, 39, 12, 49, 77, 82, 4, 95, 0, 21, 67, 45, 99, 34, 16, 61, 66, 70, 33, 31, 89, 83, 26, 68, 35, 25, 32, 86, 22, 30, 17, 2, 54, 92, 79, 6, 97, 38, 90, 71, 60, 55, 19, 91, 37, 14, 53, 96, 62, 43, 3, 75, 52, 100, 27, 13, 24, 51, 8, 78, 76, 28, 73, 1, 94, 10, 72, 57, 36, 29, 58]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [34]:
set1 = sample_list_1
print(len(set1))

0

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [35]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0, 80))

print(sample_list_2)

[60, 63, 32, 21, 6, 7, 0, 48, 61, 49, 30, 1, 45, 13, 4, 45, 35, 42, 56, 67, 35, 21, 50, 38, 13, 42, 67, 57, 7, 30, 32, 30, 79, 75, 12, 63, 19, 23, 24, 0, 1, 4, 75, 39, 65, 47, 0, 7, 17, 64, 69, 12, 34, 40, 22, 54, 28, 40, 30, 37, 65, 15, 20, 36, 69, 28, 8, 48, 19, 16, 39, 71, 49, 60, 16, 31, 70, 42, 61, 69]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [36]:
set2 = sample_list_2
print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [50]:
set3 = set1-set2
print(set3)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [51]:
set4 = set2-set1
print(set4)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [46]:
set5 = set1 + set2
print(set(set5))

# or alternative set5 = set2.unionset1

{0, 1, 4, 6, 7, 8, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 28, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 42, 45, 47, 48, 49, 50, 54, 56, 57, 60, 61, 63, 64, 65, 67, 69, 70, 71, 75, 79}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove an element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here