## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
#In the cell below, create a list named sample_list_1 with 80 random values.
#Requirements:
##Each value is an integer falling between 0 and 100.
##-----------------Each value in the list is unique. ----------------- How?
##Print sample_list_1 to review its values

sample_list_1 = []

n = 80  # the size of the list
min_value = 0  # the minimum value of the numbers in the list
max_value = 100  # the maximum value of the numbers in the list

random_list_1 = random.sample(range(min_value, max_value+1), n)

print(random_list_1)

[83, 59, 23, 1, 13, 50, 20, 78, 46, 88, 45, 44, 81, 49, 17, 57, 15, 61, 39, 16, 67, 54, 4, 84, 62, 98, 25, 80, 10, 76, 93, 40, 53, 65, 56, 24, 31, 86, 11, 100, 63, 70, 90, 27, 37, 43, 29, 72, 2, 19, 42, 3, 21, 35, 5, 48, 7, 14, 89, 71, 85, 22, 75, 97, 30, 38, 66, 33, 64, 28, 94, 77, 52, 55, 18, 68, 41, 8, 6, 96]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [52]:
set1 = set(random_list_1)
print(len(set1))
print(set1)

80
{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 75, 76, 77, 78, 80, 81, 83, 84, 85, 86, 88, 89, 90, 93, 94, 96, 97, 98, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0, 100))

print(sample_list_2)

[56, 2, 6, 67, 75, 89, 36, 65, 35, 21, 14, 40, 18, 84, 0, 77, 57, 49, 93, 44, 95, 22, 94, 67, 0, 1, 72, 62, 54, 90, 80, 27, 65, 50, 64, 39, 34, 39, 12, 80, 95, 51, 32, 33, 25, 33, 1, 80, 4, 100, 17, 27, 48, 49, 57, 20, 92, 48, 93, 20, 69, 63, 79, 89, 31, 85, 95, 81, 98, 38, 72, 1, 76, 75, 18, 57, 21, 85, 43, 73]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2 = set(sample_list_2)
print(len(set2))

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
set3 = set1-set2
print(set3)

{3, 5, 7, 8, 10, 11, 13, 15, 16, 19, 23, 24, 28, 29, 30, 37, 41, 42, 45, 46, 52, 53, 55, 59, 61, 66, 68, 70, 71, 78, 83, 86, 88, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
set4 = set2-set1
print(set4)

{0, 32, 34, 36, 69, 73, 12, 79, 51, 92, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
set5 = set1 & set2
print(set(set5))

{1, 2, 4, 6, 14, 17, 18, 20, 21, 22, 25, 27, 31, 33, 35, 38, 39, 40, 43, 44, 48, 49, 50, 54, 56, 57, 62, 63, 64, 65, 67, 72, 75, 76, 77, 80, 81, 84, 85, 89, 90, 93, 94, 98, 100}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [20]:
print(len(set1), len(set2), len(set3), len(set4), len(set5))

80 56 35 11 45

In [25]:
compare = [len(set1), len(set2), len(set3), len(set4), len(set5)]
sorted(compare)

#set 1 and 2 are the biggest lists. They have the a lot of numbers in common. Naturally, the most elements 
# are more present in set 1, since set 1 ist the biggets set.

[11, 35, 45, 56, 80]

#### Create an empty set called `set6`.

In [21]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [26]:
set6.update(set3,set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 75, 76, 77, 78, 80, 81, 83, 84, 85, 86, 88, 89, 90, 93, 94, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [27]:
if set1 == set6:
    print("True")
else:
    print("False")

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [29]:
if set1.issubset(set2):
    print("True")
else:
    print("False")


if set1.issubset(set3):
    print("True")
else:
    print("False")

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [33]:
ag = set3.union(set4, set5)

ag1 = set1.union(set2)

if ag == ag1:
    print("aggregated values are equal")
else:
    print("aggregated values are NOT equal")

aggregated values are equal

#### Using the `pop` method, remove an element from `set1`.

In [45]:
set1.pop()
print(set1)

{8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 75, 76, 77, 78, 80, 81, 83, 84, 85, 86, 88, 89, 90, 93, 94, 96, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [51]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    set1.remove(i)
    
print(set1)

# The number 51 is not included in the set, so it will not be removed even though it is in the list_to_remove.
# That is why we get a Key error

KeyError: 1